@model Bienes_Raices_HAXA.Models.ViewModel.RecuperarViewModel
@{
    ViewBag.Title = "IniciarRecuperar";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <br />
        <div class="form-style">
            <form action="@Url.Content("~/logIn/IniciarRecuperar")" method="post">
                <label> Escribe tu correo electrónico</label>
                @Html.TextBoxFor(d => d.email, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(d =>d.email,null,new { style="colore:red;"})
                <br />
                <div class="text-right">
                    <button class="btn btn-primary">Recuperar</button>
                </div>
            </form>
            
        </div>

    </div>
  
 </div>

