@*@model IEnumerable <Bienes_Raices_HAXA.Models.Citas>
    @{
        ViewBag.Title = "Citas";
    }

    @Styles.Render("~/Content/Login.css")
    </head>
    <body>

        <br>
        <h2 class="form-signin-heading">Citas</h2>
        <div class="form-group">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre del cliente</th>
                        <th>Telefono</th>
                        <th>Id de la propiedad</th>
                        <th>Ubicacion de la propiedad</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Luis</td>
                        <td>87389432</td>
                        <td>1</td>
                        <td>Heredia,San Francisco</td>
                        <td><input type="button" value="Editar Cita" /> <input type="button" value="Eliminar Cita" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    </html>*@